@{
    ViewData["Title"] = "Elenco prodotti";      //titolo della pagina
}

@model List<Product>

<div class="container">
    <h1 class="display-4">Products:</h1>
    <a class="btn btn-primary" href="@Url.Action("Create")">Nuovo prodotto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Prezzo</td>
                <td>Id Categoria</td>
                <td>Categoria</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.CategoryId</td>
                    @if (product.Category!=null)
                    {
                        <td>@product.Category.CategoryName</td>
                    } else
                    {
                        <td></td>
                    }

                   
                </tr>
            }
        </tbody>
    </table>
    
</div>