@{
    ViewData["Title"] = "Elenco prodotti";      //titolo della pagina
}

@model List<Product>

<div class="container">
    <h1 class="display-4">Products:</h1>
    <!-- richiesta a /Prodotti/Create -->
    <a class="btn btn-primary" href="@Url.Action("Create")">Nuovo prodotto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Prezzo</td>
                <td>Id Categoria</td>
                <td>Categoria</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@String.Format("{0:c2}",product.UnitPrice)</td>
                    <td>@product.CategoryId</td>
                    @if (product.Category!=null)
                    {
                        <td>@product.Category.CategoryName</td>
                    } else
                    {
                        <td></td>
                    }
                    <td>
                        <a title="Dettaglio prodotto" href="@Url.Action("Detail",new {id=product.ProductId})"><i class="fa-solid fa-eye"></i></a>
                    </td>
                    <td>
                        <a title="Elimina prodotto" href="@Url.Action("Delete",new {id=product.ProductId})"><i class="fa-solid fa-trash"></i></a>
                    </td>
                    <td>
                        <a title="Modifica prodotto" href="@Url.Action("Update",new {id=product.ProductId})"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>